
@media screen and (min-width: 768px) {
  .homepage {
    padding: 50px 30px 100px 30px;
    height: 916px;
    margin: 0 auto;
    background: white;
    border-radius: 0 0 0 50px;
  }

  label {
    display: none;
  }

  .p-t {
    width: 100%;
    padding-top: 150px;
  }

  .headline {
    padding: 0 140px;
  }

  .headtitle-name {
    background-image: url("./images/background-wide.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .work-info1,
  .work-info2,
  .work-info3,
  .work-info4 {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .work-info2,
  .work-info4 {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .f-lang {
    display: flex;
    flex-direction: row;
  }

  .f-styles {
    width: 125px;
    height: 125px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px;
  }

  .pic-elp {
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .f-styles p {
    align-self: flex-start;
  }

  .p-skills {
    width: 90%;
  }

  footer {
    padding: 20px auto;
  }

  .background-style {
    background: url("./images/desktop-cont.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #6070ff;
    border-radius: 90px 0 0 0;
  }

  .contact-form {
    width: 500px;
    margin-bottom: 20px;
    background: none;
  }

  .form {
    width: 550px;
    padding: 0;
    align-items: center;
  }

  input {
    width: 500px;
  }

  .text-area {
    width: 500px;
  }

  .about-me .content2 {
    align-items: center;
    margin-left: 60px;
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #172b4d;
    display: none;
  }

  .modal {
    max-width: 70%;
    height: 95%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    overflow: scroll;
  }

  .image-contain {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .stack-modal {
    display: flex;
    flex-direction: row;
  }

  .fix {
    max-width: 800px;
    max-height: 800px;
  }

  .fix img {
    width: 100%;
  }

  .end-line {
    display: none;
  }
}
